@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Roboto:wght@400;700&family=Vina+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Vina Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*  Navigation Section  */
.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 2em;
  letter-spacing: 2px;
}
#list li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #1e1b1b;
  color: #fff;
}
#list {
  list-style-type: none;
}

#list li {
  display: inline;
  padding: 0 10px;
}

.links {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: rgb(208, 233, 232);
}

/* Home-Section */

.home-prop {
  background: linear-gradient(
    90deg,
    rgba(212, 231, 19, 1) 0%,
    rgba(198, 174, 29, 1) 18%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#searchBox {
  width: 60%;
  height: 3.5em;
  border-radius: 1.5em;
  margin: 0 0 0 120px;
  padding: 0 10px;
}

#searchBtn {
  padding: 10px 20px;
  margin: 0px 100px 0 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: crimson;
  transition: 0.5s all cubic-bezier(0.19, 1, 0.22, 1);
}

#searchBtn:hover {
  box-shadow: 3px 5px 2px 1px #fff;
}

.search-container {
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  /* border: 2px solid #fff; */
}

/* About Section */

.images {
  /* border: 2px solid #fff; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 5px;
  row-gap: 20px;
  margin: 30px 20px;
  padding: 0 10px;
}

.image {
  overflow-y: hidden;
  height: 300px;
  width: 500px;
}
.container {
  background-color: #1e1b1b;
  color: #fff;
}

.Abouth1,
.Abouth2 {
  text-align: center;
  padding: 30px 0 10px 0;
}

.Abouth1 {
  font-size: 3em;
  text-align: center;
}

.Abouth2 {
  font-size: 2.5em;
}

.paraAbt {
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}

.paraAbt strong {
  text-decoration: underline;
}

/*Contact Section*/

form {
  width: 30%;
  text-align: center;
  border-radius: 30px;
  margin: 30px auto;
  padding: 30px 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

form:hover {
  box-shadow: 0 0 15px 5px #fff;
}

.Contact-container {
  height: 91vh;
}

label {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  margin: 3px 10px;
}

#name,
#email,
#message {
  width: 21em;
  height: 2.5rem;
  padding: 3px 10px;
  margin: 3px 0 15px 0;
  border-radius: 20px;
}

#btn {
  font-size: 1em;
  padding: 10px 30px;
  border-radius: 30px;
}
